page-history{
    ion-content{
        ion-list{
            button{
                ion-thumbnail{
                    img{
                        max-width: 90px !important;
                        max-height: 90px !important;
                        width: auto !important;
                        height: auto !important;
                    }
                }
                .timestampText{
                    font-size: 12.8px;
                    color: #959595;
                }

                h2{
                    font-size: 20px !important;
                    font-weight: bold;
                }

                p.product-description{
                    font-size: 13px;
                }
            }
        }
    }
}